=render "shared/header"
=image_tag "#{@user.user_image}", size: "80x100"
=@user.name
=@user.email
=@user.nickname
-@posts.each do |post|
  .post
    .post_title
      =post.id
      =link_to("#{post.title}",post_path(post))
    .post_content
      =post.content
-if @current_user.id ==@user.id
  =link_to("編集",edit_user_path)
  =link_to("いいね",likes_user_path(@user.id))
