.header  
  %h1.header__logo 
    =link_to("myQiita",root_path)
  .header__right
    %ul  
      -if @current_user
        %li
          =link_to("#{@current_user.nickname}",user_path(@current_user))
        %li  
          =link_to("新規投稿",new_post_path) 
        %li  
          =link_to("user一覧",users_path) 
        %li  
          =link_to("投稿一覧","#") 
        %li  
          =link_to("profile","#") 
        %li  
          =link_to("ログアウト",logout_users_path,method: :post) 
      -else
        %li  
          =link_to("ログイン",login_users_path) 
        %li  
          =link_to("新規登録",new_user_path) 