.header  
  %h1.header__logo 
    =link_to("myQiita",root_path)
  .header__right
    %ul  
      %li  
        =link_to("新規投稿",new_post_path) 
      %li  
        =link_to("user一覧",users_path) 
      %li  
        =link_to("投稿一覧","#") 
      %li  
        =link_to("profile","#") 
      %li  
        =link_to("ログイン","#") 
      %li  
        =link_to("ログアウト","#") 
      %li  
        =link_to("入会","#") 