.wrapper
  =render "shared/header"
  .contents
    .posts-box
      - @posts.each do |post|
        .content
          .post__title
            =link_to "title: #{post.title}","posts/#{post.id}"
          -# .post__created-at
          -#   =post.created_at
