
.wrapper
  =render "shared/header"
  .contents
    .posts-box
      -@posts.each do |post|
        .content
          .post__title
            =link_to "title: #{post.title}",post_path(post)
      .paginate
        =paginate(@posts)
