@mixin a-tag($color){
  color:white;
  text-decoration: none;
  box-shadow:1px 3px darken($color,20%);
  &:active{
    box-shadow:none;
    position: relative;
    top: 3px;
    left: 1px;
  }
}
$header-logo:rgb(14, 156, 130);
$header-right:rgb(4, 126, 41);
*{
  box-sizing:border-box;
}
.wrapper{
  background-color: rgb(14, 156, 130);
  height: 100vh;
  width: 100vw;
  // background-image: ;
}
.header {
  color:white;
  width: 100%;
  background-color: $header-right;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  &__logo{
    font-size: 36px;
    padding-left: 5px;
    height: 54px;
    a{
      @include a-tag($header-logo);
    }
    
  }
  &__right ul{
    float: right;
    line-height: 54px;
    li{
      float: left;
      list-style: none;
      padding: 0 15px;
      a{
        font-size: 18px;
        @include a-tag($header-logo);
        
      }
    }
  }
}
.contents{
  .content{
    width: 45%;
    margin: 5px 0;
    background-color:rgb(119, 180, 5);
    color:white;
    box-shadow: 5px 5px 6px #c1ced7;
    margin-left: 20px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    &:active{
      box-shadow:none;
      position: relative;
      top: 5px;
      left: 5px;
    }
  }
  
}