.input{
  // background-color: rgb(25, 168, 94);
  color: rgb(138, 18, 88);
}
.btn{
  width: 50px;
  color:rgb(20, 139, 30);
  background-color: red;
  border-radius: 20px;
}
.new{
  &__post{
    margin-left: 60px;
  }
}